name: CI

on:
  push:
    branches: [ main ]
  pull_request_target:
    branches: [ main ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
      with:
        persist-credentials: false
        ref: ${{ github.event.pull_request.head.sha }}
        repository: ${{ github.event.pull_request.head.repo.full_name }}
    - name: Use Node.js
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903  # v6.0.0
      with:
        node-version: 20.x
    - run: npm ci
  downstream-build:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        movie-example:
          - movies-python-bolt
          - movies-java-bolt
          - movies-dotnetcore-bolt
          - movies-golang-bolt
          - movies-javascript-bolt
          - movies-java-spring-data-neo4j
    steps:
      - name: Unfold this
        run: echo 'Check https://github.com/neo4j-examples/${{ matrix.movie-example }}/actions'
      - name: Trigger build
        uses: peter-evans/repository-dispatch@5fc4efd1a4797ddb68ffd0714a238564e4cc0e6f  # v4.0.0
        with:
          repository: neo4j-examples/${{ matrix.movie-example }}
          event-type: movie-harness-change
          token: ${{ secrets.TOKEN }}
          client-payload: '{"sha": "${{ github.sha }}"}'
