name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 18.x
    - run: npm ci
  downstream-build:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        movie-example:
          - movies-python-bolt
          - movies-java-bolt
          - movies-dotnetcore-bolt
          - movies-golang-bolt
          - movies-javascript-bolt
          - movies-java-spring-data-neo4j
    steps:
      - name: Unfold this
        run: echo 'Check https://github.com/neo4j-examples/${{ matrix.movie-example }}/actions'
      - name: Trigger build
        uses: peter-evans/repository-dispatch@v2
        with:
          repository: neo4j-examples/${{ matrix.movie-example }}
          event-type: movie-harness-change
          token: ${{ secrets.TOKEN }}
          client-payload: '{"sha": "${{ github.sha }}"}'
